<h2>Tiny URL Info:</h2>

<ul>
  <li>Tiny url: <%= link_to show_url(@tiny_url.mini_url), show_url(@tiny_url.mini_url) %></li>
  <li>Original url: <%= link_to original_url_formatter(@tiny_url.original_url), original_url_formatter(@tiny_url.original_url) %></li>
</ul>
